{% extends '_base.html' %}


{% block content %}

<!-- <div class="row image col-sm-12 ">
	<img src="assets/bg-image.png" class="img-responsive">
</div> -->
<div class="container-fluid">
	<div class="row col-sm-12 header">
		<div class="header-text">
		    <h1 class="text-center">{{ COPY.content.project_name }}</h1>
		    <p class="text-center byline">by {{ COPY.content.byline }} | published {{ COPY.content.pubdate }}<p>
		    <p class="text-center subhed">{{ COPY.content.subhed }}</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row col-sm-12 baseball-container">
	    <img class="baseball center-block" src="assets/noun_baseball.svg"/>
	</div>
	<div class="row main">
	{% for row in COPY.items%}
	    <div class="text-block {% if row.class %}{{row.class}}{% endif %}" {% if row.id %}id="{{row.id}}"{% endif %}>
	        {{row.text}}
	    </div>
	{% endfor %}
	</div>
</div>

{% endblock %}